#contact-us-modal {
    z-index: 51;
    &.active {
        display: flex !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        .cf-container {
            transform: translateY(0) scale(1);
        }
    }
    .cf-container {
        transform: translateY(70vh) scale(0.2);
    }
}

.close-modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.change-bg {
    background: rgba(247, 209, 205, 0.2);
    background-size: cover;
}

.contact-form-wrapper {
    display: flex;
    min-height: 100vh;
    width: min(100%, 1000px) !important;
}

.cf-container {
    flex: 0 1 1000px;
    width: min(100%, 1000px) !important;
    margin: auto;
    padding: 10px;
}

.cf-screen {
    width: min(100%, 1000px) !important;
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.cf-screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.cf-screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cf-screen-header-left {
    margin-right: auto;
}

.cf-screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.cf-screen-header-button.closeb {
    cursor: pointer;
    background: #ed1c6f;
}

.cf-screen-header-button.maximize {
    background: #e8e925;
}

.cf-screen-header-button.minimize {
    background: #74c54f;
}

.cf-screen-header-right {
    display: flex;
}

.cf-screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.cf-screen-body {
    display: flex;
    // min-height: 600px;
}

.cf-screen-body-item {
    flex: 1;
    padding: 50px;
}

.cf-screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.cf-app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ba324f;
    font-size: 2.5rem;
}

.cf-app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ba324f;
}

.cf-app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.cf-app-form-group {
    margin-bottom: 15px;
}

.cf-app-form-group.message {
    display: block;
    padding-left: 0;
    margin-top: 40px;
}

.cf-app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.cf-app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    // text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.cf-app-form-control::placeholder {
    color: #666;
}

.cf-app-form-control:focus {
    border-bottom-color: #ddd;
}

.cf-app-form-button {
    background: none;
    border: none;
    color: #ba324f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.cf-app-form-button:hover {
    color: #b9134f;
}

.cf-dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

@media screen and (max-width: 520px) {
    .cf-screen-body {
        flex-direction: column;
    }
    .cf-screen-body-item.left {
        margin-bottom: 30px;
    }
    .cf-app-title {
        flex-direction: row;
    }
    .cf-app-title span {
        margin-right: 12px;
    }
    .cf-app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .cf-screen-body {
        padding: 40px;
    }
    .cf-screen-body-item {
        padding: 0;
    }
}